@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #333;
  }
  .feature-div {
    background-image: linear-gradient(
        to right bottom,
        rgb(36, 10, 87, 0.85),
        rgb(36, 10, 87, 0.85)
      ),
      url(./images/27.png);
    background-size: cover;
    background-position: center;
  }
  .product-div {
    background-image: linear-gradient(
        to right bottom,
        rgba(232, 221, 255, 0.8),
        rgb(232, 221, 255, 0.8)
      ),
      url(./images/27.png);
    background-size: cover;
    background-position: center;
  }
  .testi-div {
    background-image: url(./images/23.jpg);
    background-size: cover;
    background-position: center;
  }
  .cta-div {
    background-image: linear-gradient(
        to right bottom,
        rgb(36, 10, 87, 0.6),
        rgb(36, 10, 87, 0.6)
      ),
      url(./images/24.jpg);
    background-size: cover;
    background-position: center;
  }
  .footer-div {
    background-image: url(./images/27.png);
    background-size: cover;
    background-position: top;
  }
  .img-1 {
    background-image: linear-gradient(
        to bottom,
        rgb(194, 194, 194, 0.5),
        rgb(46, 46, 46, 0.5)
      ),
      url(./images/14.jpg);
    background-size: cover;
    background-position: center;
  }
  .img-2 {
    background-image: linear-gradient(
        to bottom,
        rgb(194, 194, 194, 0.5),
        rgb(46, 46, 46, 0.5)
      ),
      url(./images/17.jpg);
    background-size: cover;
    background-position: center;
  }
  .img-3 {
    background-image: linear-gradient(
        to bottom,
        rgb(194, 194, 194, 0.5),
        rgb(46, 46, 46, 0.5)
      ),
      url(./images/18.jpg);
    background-size: cover;
    background-position: center;
  }
  .decor1 {
    @apply absolute top-[-5rem] lg:top-[-3rem] left-[50%] translate-x-[10%] md:translate-x-[-50%] h-[4rem] lg:h-[2.5rem] opacity-[0.8] lg:opacity-[1] rotate-[5deg] md:rotate-[0deg];
  }
  .decor2 {
    @apply absolute bottom-[-14rem] md:bottom-[-1rem] lg:bottom-[1rem] right-[1rem] lg:right-[5rem] h-[5rem] lg:h-[2.5rem] opacity-[0.5] lg:opacity-[1] rotate-[7deg] md:rotate-[0deg];
  }
  .decor3 {
    @apply absolute bottom-[-14rem] md:bottom-[-1rem] lg:md:bottom-[1rem] left-[1rem] lg:left-[5rem] md:left-[0rem] h-[4.5rem] lg:h-[2.5rem] opacity-[0.8] lg:opacity-[1] rotate-[-10deg] md:rotate-[0deg];
  }
  .decor4 {
    @apply absolute bottom-0 left-0 h-1/2 lg:h-2/3 hidden md:block;
  }
  .decor5 {
    @apply absolute bottom-[5rem] lg:bottom-[8rem] right-0 h-2/6 lg:h-2/5 z-[1] hidden md:block;
  }
  .decor6 {
    @apply absolute bottom-[1rem] lg:bottom-[3rem] right-[5rem] h-1/6 lg:h-1/5 hidden md:block;
  }
  .tbox-v1 {
    @apply flex flex-col gap-5 bg-purple-100 p-3 lg:p-5 rounded-md;
  }
  .tbox-v2 {
    @apply flex flex-col gap-5 bg-purple-200 p-3 lg:p-5 rounded-md;
  }
  .nav-btn {
    @apply font-semibold hover:text-purple-400;
  }
  .about-decor-1 {
    @apply absolute top-0 right-0 h-[2.5rem] hidden md:block;
  }
  .about-decor-2 {
    @apply absolute bottom-0 right-0 h-[2.5rem] hidden md:block;
  }
}
